.complete-content {
    background-color: #000000;
    padding: 1rem;
    padding-right: 0;
    z-index: 1;
    /* font-family: 'Ibarra Real Nova' !important; */
    font-family: 'Montserrat' !important;
}
