.header-container {
    margin: 0;
    padding: 1.5rem 2rem;
    padding-top: 0;
    border-bottom: 0.1px solid #d4d7d7;
    padding-bottom: 0px;
}

.header-greeting {
    display: inline-block;
    width: 50%;
}

.header-greeting h2 {
    color: #d4d7d7;
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

.header-greeting p {
    color: #d4d7d7;
    font-size: 0.8rem;
    letter-spacing: 1.25px;
}

.header-profile {
    display: inline-block;
    width: 50%;
    text-align: right;
    vertical-align: top;
    padding-top: 1rem;
}

.header-profile fa-icon {
    margin: 0rem 0.5rem;
    padding: 0.5rem 0.6rem;
    border-radius: 50%;
    background-color: #ecb176;
    margin-right: 5rem;
}

.header-profile span {
    margin: 0rem 0.5rem;
    color: #d4d7d7;
}