.header-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 1rem; 
    color: #d4d7d7;
    margin: 1rem;
    padding: 1.5rem 2rem;
    margin-top: 0;
    margin-right: 1rem;
    background-color: #ffffff22;
    border-radius: 0.3rem;
}

.header-greeting, 
.header-profile {
  display: flex; 
  align-items: center; 
}

.header-greeting p {
    margin: 0; 
    color: #d4d7d7;
    font-size: 1rem;
    letter-spacing: 1.25px;
    margin-bottom: 0;
}

.header-profile fa-icon {
    padding: 0.5rem 0.75rem;
    border-radius: 50%;
    background-color: #dda15e;
    color: #000000;
}

.header-profile span {
    margin-right: 0.75rem; /* Space between span and icon */
    font-size: 1rem;
    color: #d4d7d7;
}