section {
    display: flex;
    width: 100%;
    height: calc(100vh - 2rem);
}

.menu-container {
    background-color: #ffffff33;
    z-index: 1000;
    padding: 1.5rem;
    width: 20rem;
    height: 100%;
    position: fixed;
    overflow: hidden;
    border-radius: 0.3rem;
}

.menu-top {
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
}

.menu-top img {
    width: 100%;
    border-radius: 0.3rem;
}

.menu-btm {
    padding: 5rem 1rem;
}

.menu-btm button {
    padding: 1rem 0.75rem;
    margin: 1rem 0rem;
    border-radius: 50%;
    width: 100%;
    animation: none;
    border: none;
    text-align: left;
    border-radius: 2rem;
    transition: 0.75s ease;
    background-color: #00000000;
    display: flex;
    align-items: center;
}

.menu-btm button fa-icon {
    margin: 0rem 0.5rem;
    padding: 0.5rem 0.65rem;
    border-radius: 50%;
    color: #000000;
    background-color: #dda15e;
}

.menu-btm button span {
    margin: 0rem 0.5rem;
    color: #d4d7d7;
    /* font-family: 'Ibarra Real Nova'; */
    font-family: 'Montserrat';
    font-size: 1.3rem;
}

.menu-btm button:hover {
    background-color: #000000;
}

.menu-btm button.active {
    background-color: #000000;
    width: 30rem;
}

.menu-right {
    flex-grow: 1; 
    padding: 0;
    padding-left: 23rem; 
    overflow-y: scroll;
    padding-right: 0;
}